<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starkwiz.starkwiz"
    >

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:exported="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Starkwiz">
        <activity android:name=".Activities.Quiz_Activities.Elocution_Activity"></activity>
        <activity android:name=".Activities.Quiz_Activities.Debate_Activity" />
        <activity android:name=".Activities.Quiz_Activities.Arts_Activity" />
        <activity android:name=".Activities.PlansActivity" />
        <activity android:name=".Activities.Starting_Pages.IntroActivity" />
        <activity
            android:name=".Activities.Quiz_Activities.Student_Quiz_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Achivement_Showcase_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ShowCase_Scoreboard_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ShowCase_Music_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Quiz_Activities.Music_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Quiz_Activities.Declamation"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Quiz_Activities.Dance_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Subjectwise_Syllabus_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Subject_Schedule_Detail_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.SettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.HubInfo_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.HubListsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Dasboard_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Forgot_Password_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Signup_Activities.Signup_SetupPassword_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Signup_Activities.Signup_Qualification_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Signup_Activities.Signup_Parent_AboutYou_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Signup_Activities.Signup_Email_Verification_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Signup_Activities.Signup_teaching_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Signup_Activities.Sigup_Studying_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Starting_Pages.UserSelection_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Signup_Activities.Signup_Personal_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Starting_Pages.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Starting_Pages.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".LinkingClass.AlertReceiver"></receiver>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


</manifest>